In [7]:
import json
import pandas as pd
import numpy as np

import pickle

In [8]:
file_path = 'knowledge_base/'

with open('knowledge_base/product_names.pickle', 'rb') as handle:
    product_names = pickle.load(handle)

In [9]:
product_names

[['үндэсний хуримтлалын хөтөлбөр',
  'алтантүлхүүр хадгаламж',
  'энгийн хугацаатай хадгаламж',
  'хадгаламжийн сертификат',
  'орлого авдаггүй хугацаатай хадгаламж',
  'уян хадгаламж',
  'хүүхдийн мөнгө хадгаламж',
  'гадаадад оршин суугаа харилцагчдад зориулсан хадгаламж',
  'урьдчилсан хүүт хугацаатай хадгаламж',
  'хугацаагүй хадгаламж /жилээр хүү олгодог/',
  'хугацаагүй хадгаламж /сараар хүү олгодог/',
  'урьдчилсан хүүт хугацаагүй хадгаламж',
  'хадгаламжийн хайрцаг',
  'гибрид хадгаламж',
  'junior багц бүтээгдэхүүн',
  'малчны багц бүтээгдэхүүн'],
 ['иргэдийн харилцах',
  'цалингийн харилцах',
  'хүүхдийн мөнгө харилцах',
  'дебит картын харилцах'],
 ['зэс кредит карт',
  'ган кредит карт',
  'алтан кредит карт',
  'американ экспресс ногоон карт',
  'американ экспресс алтан карт',
  'платинум виза карт',
  'the color card',
  'оюу карт',
  'сувд карт',
  'карбон карт',
  'алтан дебит карт',
  'американ экспресс rewards карт',
  'премьер вип дебит карт',
  'пос мерчант',
  'и мерчант'],
 ['6% хүүтэй орон сууцны зээл',
  'голомт банкны орон сууцны зээл',
  'ногоон зээл – эрчим хүчний хэмнэлттэй амины орон сууцны зээл',
  'амины орон сууц худалдан авах зээл',
  'хувийн сууц худалдан авах зээл',
  'luxury орон сууц худалдаж авах зээл',
  'амины орон сууц барьж дуусгах зээл',
  'хадгаламж барьцаалсан зээл',
  'хэрэглээний зээл',
  'малчны зээл',
  'тохижилтын зээл',
  'тэтгэврийн зээл',
  'тийзний зээл',
  'цалингийн зээл',
  'автомашины зээл',
  'дижитал зээл',
  'пос-ын орлого барьцаалсан зээл',
  'эргэлтийн хөрөнгийн зээл',
  'эргэлтийн хөрөнгийн зээл',
  'хөрөнгө оруулалтын зээл',
  'жижиглэн худалдааны зээл',
  'худалдаа үйлчилгээний талбайн зээл',
  'оффисын зээл',
  'ажлын байрыг дэмжих зээл',
  'бизнес эрхлэгч эмэгтэйчүүдийг дэмжих зээл',
  'lendahand ”бичил, ждб-ийг дэмжих” төслийн зээл']]

In [3]:
with open((file_path + 'depo.json').format(1), 'r', encoding = 'utf-8') as json_file:
    depo = json.load(json_file)
    
with open((file_path + 'account.json').format(1), 'r', encoding = 'utf-8') as json_file:
    account = json.load(json_file)
    
with open((file_path + 'loan.json').format(1), 'r', encoding = 'utf-8') as json_file:
    loan = json.load(json_file)
    
with open((file_path + 'card.json').format(1), 'r', encoding = 'utf-8') as json_file:
    card = json.load(json_file)

In [4]:
def return_info(linkie, product):
    # Get product info
    product_name, about_product, temp_1, temp_2, required_materials, dfs = product_info(linkie, product)
    
    # Print some basic info such as product name and about product
    print('Number of tables on this product:', len(dfs), '\n')
    print(product_name + ': ' + about_product)

    for temp in [temp_1, temp_2]:
        if len(temp):
            print(temp)
            
    # Display tables with product info
    if len(dfs):
        print('\n', 'Tables on this product:')
        
        for df in dfs:
            display(df)

In [5]:
def return_product_info(knowledge_base, product, product_name):
    if product == 'depo':
        values = product_names[0]
    elif product == 'account':
        values = product_names[1]
    elif product == 'card':
        values = product_names[2]
    elif product == 'loan':
        values = product_names[3]

    idx = values.index(product_name.lower())
    
    product_name = knowledge_base[idx][0]['product_name']
    about_product = knowledge_base[idx][0]['about_product']
    required_materials = knowledge_base[idx][0]['required_materials']
    additional_info = knowledge_base[idx][0]['additional_info']
    
    dfs = []
    for table in knowledge_base[0][1:]:
        dfs.append(pd.DataFrame(table))
        
    return product_name, about_product, required_materials, additional_info, dfs

In [6]:
product_name, about_product, required_materials, additional_info, dfs = return_product_info(depo, 'depo', 'уян хадгаламж')

# Print some basic info such as product name and about product
print('Number of tables on this product:', len(dfs), '\n')
print(product_name + ': ' + about_product)

for info in additional_info:
    if len(info):
        print(info)

# Display tables with product info
if len(dfs):
    print('\n', 'Tables on this product:')

    for df in dfs:
        display(df)

Number of tables on this product: 3

Уян хадгаламж: Орлого, зарлага хийгдэх уян хатан нөхцөлтэй, хүүгийн хувь хэмжээ улирал тутам шатлан өсөх хамгийн өндөр хүүтэй хугацаагүй хадгаламж.
Жилийн хүү: 7.30%

 Tables on this product:

,col_1,col_2
0,Данс нээх доод үлдэгдэл,"10,000 төгрөг"
1,Хүү,4.50% + Урамшуулал /Сар бүр хуримтлуулбал/
2,Хугацаа,Зорилтот мөнгөн дүндээ хүртэл жил бүр автомата...
3,Хүү олгох өдөр,Данс нээснээс хойш 12 дахь сар бүрийн эцэст
4,Зарлага гаргах боломж,Хүү орсон өдрөөс хойш 5 хоногт багтаан данснаа...
5,Гэрээг цуцлах үед бодогдох хүү*,2.40%

,col_1,col_2
0,Данс нээхэд,Шимтгэлгүй
1,Шинээр данс нээх дэвтрийн үнэ,Үнэгүй
2,Хадгаламжийн дэвтрийн бичилт дуусаад солих,Үнэгүй
3,"Хадгаламжийн дэвтэр хаясан, гээсэн тохиолдолд ...","3,000 төгрөг"
4,Данс хаахад,"Дижитал сувгаар: 1,000 төгрөг /тэнцэх валют/ С..."
5,Бэлэн орлого,Шимтгэлгүй
6,Бэлэн бус орлого,Шимтгэлгүй
7,Бэлэн зарлага /салбараас/,200 төгрөг
8,Бэлэн бус зарлага,"Голомт банк дотор-100 төгрөг Банк хооронд: 3,0..."

,col_1,col_2,col_3,col_4,col_5
0,Сар бүр хийх орлогын дүн,Таны хуримтлал 12 сарын дараа,ХҮҮ* /жилийн 4.50%/,Урамшуулал /тогтмол дүнгээр/,Нийт
1,"20,000₮","240,000₮","5,849₮","7,800₮","253,649₮"
2,"50,000₮","600,000₮","14,622₮","19,500₮","634,122₮"
3,"100,000₮","1,200,000₮","29,244₮","39,000₮","1,268,244₮"
4,"200,000₮","2,400,000₮","58,488₮","78,000₮","2,536,488₮"
5,"300,000₮","3,600,000₮","87,732₮","117,000₮","3,804,732₮"
6,"500,000₮","6,000,000₮","146,219₮","195,000₮","6,341,219₮"
7,"1,000,000₮","12,000,000₮","292,438₮","390,000₮","12,682,438₮"